/*navegador*/

a {
    transition: all 1s ease;
}

.container1 {
    max-width: 100% !important;
    margin: 0 auto;
    background-color: #85D4B7;
    height: 84px !important;
}

.img {
    float: left;
}

.main-menu {
    width: 70%;
    float: right;
    margin-top: 25px;
}

.main-menu ul {
    margin: 0px;
    padding: 0px;
    float: right;
}

.main-menu ul li {
    display: inline-block;
    list-style: none !important;
}

.main-menu ul li a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 5px;
}

.displayed {
    display: block !important;
}

/* Animaciones */

@keyframes mianimacion {
    0% {
        background: red;
        margin: 0px;
    }
    50% {
        background: yellow;
        margin: 0px 100px 0px 100px;
        transform: (50deg)
    }
    100% {
        background: black;
        margin: 0px;
    }
}

/* MEDIA QUERIES */

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .main-menu {
        width: 100% !important;
        float: left !important;
        margin-top: -10px !important;
    }
    .main-menu ul {
        float: none;
    }
    .main-menu ul li {
        display: block;
    }
    .main-menu ul li a {
        color: white;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        padding: 10px 10px;
        display: block;
        background-color: #6DCCAA;
        text-align: center;
        border-bottom: 1px solid white;
        margin: 0px !important;
    }
    header {
        padding: 20px 0px 0px 0px;
    }
    header img {
        display: block;
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .elemento-formulario {
        max-width: 100%;
    }
    .elemento-formulario label {
        display: block;
    }
    .elemento-formulario input[type='text'],
    .elemento-formulario textarea {
        padding: 5px;
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    main,
    aside {
        width: 100% !important;
        float: none !important;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

/*fin navegador*/

/*  galeria*/

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 10% !important;
    max-width: 1200px;
}

/* The Close Button */

.font-size-18 {
    font-size: 18px;
}

.margen-top {
    margin-top: 50px !important;
}

.margen-right {
    margin-right: 2% !important;
}

.margen-left {
    margin-left: 2% !important;
}

.margin {
    margin: 2% !important;
}

.hes-gallery {
    background-color: #6DCCAA;
}

.close {
    color: white !important;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 5.5rem !important;
    font-weight: bold;
    opacity: 1 !important;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*fin galeria*/

h3 {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black !important;
}

/*carrucel*/

.wrap {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #120103;
    color: #fff;
    text-align: center;
}

.botones {
    background: #85D4B7;
    /* box-shadow: 0 0.5em 1em #111; */
    position: absolute;
    top: 376px;
    left: 0px;
    z-index: 900;
    width: 100%;
    height: 40px;
}

header label {
    color: #788188;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
    height: 0;
    margin-top: 0px;
    padding-top: 0px;
}

header label:hover {
    background: #2e353b;
}

.slide {
    height: 621px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s 0.75s;
}

.slide-one {
    background-image: url(../imagenes/adoptados/Apolo.jpg);
}

.slide-two {
    background-image: url(../imagenes/adoptados/Duque.jpg);
}

.slide-three {
    background-image: url(../imagenes/adoptados/Tom.jpg);
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s 0.5s, opacity 0.5s;
}

[id^="slide"]:checked+.slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s 0.5s;
}

/*fin carrucel*/

#tit {
    text-align: right;
}

#tit2 {
    text-align: left;
}

#cam {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 9px;
}

.columna tit {
    width: 50% !important;
    float: left !important;
    /*float: left!important;*/
}

/* registro */

.row1 {
    width: 100%;
    text-align: center;
}

.row1 h2 {
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.row1 p {
    font-size: 20px;
    font-weight: 400;
    color: white;
}
