{% extends 'mascotas.html '%}


{% block content %}
<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    <h1>¿Desea adoptar a {{ object.nombre }}?</h1>
    <button class="btn btn_danger" type="submit">Confirmar</button>
    <a class="btn btn-default" href="{% url 'listarM' %}">Cancelar</a>
</form>

{% endblock %}