
{% extends 'mascotas.html' %}

{% block content %}
    <form class="form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">     	
                <div class="col-md-2">{{ field.label_tag }}</div>
                <div class="clearfix"></div>
                <div class="col-md-2">{{ field }}</div>
                <div class="clearfix"></div>
                {% if field.errors %}
              <div class="row">
                <div class="label label-danger col-md-2">
                  {{ field.errors  }}
        </div>
        </div>
            {% endif %}
            </div>
        {% endfor %}
                <input type="submit" value="Grabar">
                
        </form>
{% endblock %}
