{% load pwa %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% progressive_web_app_meta %}
        <meta charset="utf-8">
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="" crossorigin="anonymous">
        <script src= {% static 'js/jquery-3.3.1.slim.min.js'%}> </script>
        <script src= {% static 'js/popper.min.js'%}> </script>
        <script src= {% static 'js/bootstrap.min.js'%}> </script>
        <title>Mis Perris</title>
        <script src={% static 'js/hes-gallery.js' %} ></script>
        <script src={% static 'css/hes-gallery.css' %} ></script>
        <!--fin galeria-->
        <link rel="shortcut icon" href="#" />
        <link rel="manifest" href="manifest.json">

    </head>
    <body id="bod">
        <header class="container1" id="top">  
            <div class="img">
                <img src="{% static 'imagenes/img/logo.png' %}" alt=""/>
            </div>
            <div class="menu-mobile">
                <a href="javascript:void(0)"><span class="fa fa-bars" aria-hidden="true"></span></a>
            </div>
            <nav class="main-menu displayed" style="display: none;">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">¿Quienes somos?</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contáctos</a></li>
                    <li><a href="{% url 'registroCli' %}">Registrar</a></li>
                    <li><a href="{% url 'login' %}">Ingresar</a></li>
                </ul>
            </nav>
        </header>    
        <!--carrusel -->
        <div class="wrap">
            <header class="botones">
                <label for="slide-1-trigger"><span style="color:white">O</span></label>
                <label for="slide-2-trigger"><span style="color:white">O</span></label>
                <label for="slide-3-trigger"><span style="color:white">O</span></label>
            </header>
            <input id="slide-1-trigger" type="radio" name="slides" checked>
            <section class="slide slide-one">
                <h1>Con apolo estamos muy feliz en casa ahora</h1>
            </section>
            <input id="slide-2-trigger" type="radio" name="slides">
            <section class="slide slide-two">
                <h1>Duque a sido una gran compania desde que lo tengo</h1>
            </section>
            <input id="slide-3-trigger" type="radio" name="slides">
            <section class="slide slide-three">
                <h1>Tom es un gran compañero en el da a día</h1>
            </section>
        </div>
        <!--fin carrusel-->
        <!--rescate-->
        <div  class="red1">
            <img src="{% static 'imagenes/img/redes.png' %}" alt=""/>
        </div>
        <div id="tit" ><h2>RESCATE</h2>
            <h5>ETAPA UNO</h5>
            <hr  />
            <p >Rescatamos perros en situación de peligro y/o abandono.
                Los rehabilitamos y los preparamos para buscarles un hogar.</p>
            <img src={% static 'imagenes/img/rescate.jpg' %} alt=""/>
        </div>
        <div id="tit2">
            <img class="img-responsive" src={% static 'imagenes/img/crowfunding.jpg' %} alt="" />
            <h2>CROWDFUNDING</h2>
            <h5>FINANCIAMIENTO</h5>
            <hr   />
            <p class="font-size-18">Sigue nuestras redes sociales para informarte acerca de las
                diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
        </div>
        <div class="pl-3">
            <strong><a id="cam" href="#">CAMPAÑAS</a></strong>
        </div>
        <!--fin rescate-->
        <!--    galeria-->
<div class="hes-gallery margen-top">
            <img src={% static 'imagenes/rescatados/Bigotes_tn.jpg' %} alt="image1" data-fullsize={% static "imagenes/rescatados/Bigotes.jpg" %} data-subtext='Bigote es un fiel amigo'  data-alt="piesiak" class="margin">
            <img src={% static "imagenes/rescatados/Chocolate_tn.jpg" %} alt="image2" data-fullsize={% static "imagenes/rescatados/Chocolate.jpg" %} data-subtext='Chocolate es un loquillo'  data-alt="piesiak" class="margin">
            <img src={% static "imagenes/rescatados/Luna_tn.jpg" %} alt="image3" data-fullsize= {% static "imagenes/rescatados/Luna.jpg" %} data-subtext='Luna es lo mejor que nos pudo pasar'  data-alt="piesiak" class="margin">
            <img src={% static "imagenes/rescatados/Maya_tn.jpg" %} alt="image4" data-fullsize={% static "imagenes/rescatados/Maya.jpg" %} data-subtext='Maya es muy tierna'  data-alt="piesiak" class="margin">
            <img src={% static "imagenes/rescatados/Oso_tn.jpg" %} alt="image5" data-fullsize={% static "imagenes/rescatados/Oso.jpg" %} data-subtext='Oso es lo mas jugueton que hay'  data-alt="piesiak" class="margin">
            <img src={% static "imagenes/rescatados/Pexel_tn.jpg" %} alt="image6" data-fullsize={% static "imagenes/rescatados/Pexel.jpg" %} data-subtext='Pexel es tan fotogenico'  data-alt="piesiak" class="margin">
            <img src={% static "imagenes/rescatados/Wifi_tn.jpg" %} alt="image7" data-fullsize={% static "imagenes/rescatados/Wifi.jpg" %} data-subtext='Wifi le gusta navegar'  data-alt="piesiak" class="margin">
        </div>
        <!--    fin galeria-->
    </body>
</html>