{% load staticfiles %}
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administración Mascotas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/gallery.js'%}"></script>
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
     <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/list.css'%}" rel="stylesheet">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
        {% block header %}
        <header class="container1" id="top">  
                <div class="img">
                    <img src="{% static 'imagenes/img/logo.png' %}" alt=""/>
                </div>
                <div class="menu-mobile">
                    <a href="javascript:void(0)"><span class="fa fa-bars" aria-hidden="true"></span></a>
                </div>
                <nav class="main-menu displayed" style="display: none;">
                    <ul>
                        <li><a href="{% url 'listarAa' %}">Inicio</a></li>   
                        {% if perms.Mascota.add_mascota %}                    
                        <li><a href="{% url 'registrarM' %}">Agregar</a></li>
                        <li><a href="{% url 'listarRr' %}">Listar Rescatados</a></li>
                        <li><a href="{% url 'listarAll' %}">Listar Todos</a></li>
                        {% endif %}
                        <li><a href="{% url 'listarM' %}">Listar Disponibles</a></li>                       
                        <li><a href="{% url 'salir' %}">Cerrar sesión</a></li>
                    </ul>
                </nav>
            </header>
        {% endblock %}
        {% block content%}
             <div class="container">
                <div class="row" style=" margin:20px">  
                  <div class="col-xs-12">                    
                      <a class="btn btn-small btn-danger" href="{% url 'listarAa' %}" >
                            Adoptados
                      </a>
                      <a class="btn btn-small btn-danger"  href="{% url 'listarD' %}">
                            Disponibles
                      </a>
                      <a class="btn btn-small btn-danger"  href="{% url 'listarR' %}">
                            Rescatados
                      </a>
                  </div>
                </div>  
                          {% if object_list %}
                          {% for mascota in object_list %}
                          <div class="col-md-4" data-tag='Disponibles'>
                             <img src="{{ mascota.foto.url}}" class="img-responsive" alt="img" width="150">
                          </div>
                          {% endfor %}
                         {% endif %}                                                                                                                                                         
      </div>
        {% endblock %}
</body>
</html>