{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario</title>
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body >
    <header class="container1" id="top">  
      <div class="img">
          <img src="{% static 'imagenes/img/logo.png' %}" alt=""/>
      </div>
      <div class="menu-mobile">
          <a href="javascript:void(0)"><span class="fa fa-bars" aria-hidden="true"></span></a>
      </div>
      <nav class="main-menu displayed" style="display: none;">
          <ul>
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li><a href="#">¿Quienes somos?</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Contáctos</a></li>             
          </ul>
      </nav>
    </header>
        <form class="form-group" method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">     	
                <div class="col-md-2">{{ field.label_tag }}</div>
                <div class="clearfix"></div>
                <div class="col-md-2">{{ field }}</div>
                <div class="clearfix"></div>
                {% if field.errors %}
                <div class="row">
                <div class="label label-danger col-md-2">
                {{ field.errors  }}
                </div>
            </div>
            {% endif %}
          </div>
            {% endfor %}
              <input type="submit" value="Grabar">
      </form>
          </tbody>
        </table>
    </div>
<script src="js/validar.js" type="text/javascript"></script>
  </body>
</html>